<div class="logo" style="background-image: url(/src/assets/img/logo.svg)"></div>
<section class="layers">
  <div class="layers__container">
    <div
      class="layers__item layer-1"
      style="background-image: url(/src/assets/img/layer-1.jpg)"
    ></div>
    <div
      class="layers__item layer-2"
      style="background-image: url(/src/assets/img/layer-2.png)"
    ></div>
    <div class="layers__item layer-3">
      <div class="hero-content">
        <h1>Natural forest <span>HTML / CSS</span></h1>
        <div class="hero-content__p">
          Creating a beatifull website with a 'lens effect'
        </div>
        <button type="button" class="button-start">Start Learning</button>
      </div>
    </div>
    <div class="layers__item layer-4"><canvas class="rain"></canvas></div>
    <div
      class="layers__item layer-5"
      style="background-image: url(/src/assets/img/layer-5.png)"
    ></div>
    <div
      class="layers__item layer-6"
      style="background-image: url(/src/assets/img/layer-6.png)"
    ></div>
  </div>
</section>
<div style="height: 100vh"></div>
